:root{
    font-family: Calibri;
    /* colores */
    --negro:#000000;
    --blanco: #FFFFFF;
    --verde-corporativo: #39A900;
    --azul-corporativo: #00324D;
    --marron-corporativo: #CB7766;
    --gris: #E3E3E3;
    --border-1px-solid-black: 1px solid black;
}

button{
    cursor: pointer;
    background-color: var(--azul-corporativo);
    color: var(--blanco);
    font-size: 1em;
    padding: .5em;
    border-radius: 10px;
}

button::first-letter{
    text-transform: uppercase;
}

button:hover{
    background-color: #001520;
}



header{
    background-color: var(--verde-corporativo);
    display: flex;
    height:  7em;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    
    .instructor{
        width: fit-content;
        height: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .icon{
            height: 100%;
            flex-shrink: 0;
            margin-right: .5em;
        }
    
        .nombre{
            color: var(--blanco);
        }
    
    }
    
    .select-programa{
        width: fit-content;
        border: none;
        color: var(--azul-corporativo);
        padding: 3px;
        border-radius: .5em;
        background: var(--Blanco, #FFF);
        font-size: medium;
    
    }
    
    .select-programa:focus{
        outline: none;
    }
}

body{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.principal, .historial{
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.contenedor-btn-ventana{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    
    .btn-ventana{
        margin-right: 1.5em;
    }

}

#ventana{
    padding: 0%;
    background-color: transparent;
    border: none;
}

#ventana div:not(.calendar){
    background-color: var(--blanco);
    display: grid;
    gap: 1em;
    place-items: center;
    --radius: 20px;
    border-radius: var(--radius);
    border: .2em solid var(--azul-corporativo);
    

    & h2{
        background-color: var(--verde-corporativo);
        color: var(--blanco);
        --radius: 16px;
        border-radius: var(--radius) var(--radius) 0 0;
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
    }
    
    .calendar{
        font-size: larger;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2em;
        
        .list_days{
            border: 2px solid var(--azul-corporativo);
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: .8em;
            list-style: none;
            padding: 2em;
            border-radius: 20px;
            background-color: var(--gris);
            
            .day, .day-week{
                color: var(--azul-corporativo);
                text-align: center;
                
            }
            
            .day{
                cursor: pointer;
                padding: .5em;
            }

            .day:hover{
                background-color: var(--verde-corporativo);
                border-radius: 100%;
                outline: 1px dashed var(--negro);
                color: var(--blanco);
                transition: .2s;
            }

            .day-week{
                font-weight: bold;
                margin-bottom: .5em;

            }
        }

        .flecha{
            --dimension-flecha: 2em;
            height: var(--dimension-flecha);
            width: var(--dimension-flecha);
            cursor: pointer;
            padding: 1em
            
            
        }
        .flecha:hover{
            background-color: var(--gris);
            border-radius: 100%;
            transition: .2s;
            
        }
    }

    .container-btn-cerrar{
        all: unset;
        display: flex;
        justify-content: flex-end;
        width: 80%;
        
        #btn-cerrar{
            margin-bottom: 1em;
        }
    }

}

.table{
    width: 70vw;
    border-collapse: collapse;
    

}
.table__tittle{
    background-color: var(--verde-corporativo);
    --radius: 20px;
    border-top-left-radius:  var(--radius);
    border-top-right-radius: var(--radius);
    font-size: 1.2em;
    padding: 1em .5em;
    text-align: start;
    border: 1px solid black;

}

.table__thead{
    background-color: var(--gris);

    & th{
        padding: .5em;
        border: 1px solid black;
        font-size: 1.1em;
    }
}

.table__tbody{

    & td{
    border: 1px solid black;
    text-align: center;
    padding: .5em;
    }

    .checkbox{
        --dimension: 20px;
        height: var(--dimension);
        width:  var(--dimension);
        cursor: pointer;
    }

    .checkbox:checked{
        accent-color: var(--azul-corporativo);
    }
}

.table__tfoot{
    
    & td {
        border: 1px solid black;
        padding: .5em;
    }

    & p{
        font-size: 1.2em;
        word-spacing: 1em;
    }

}

.btn-guardar{
    margin-top: 1em;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 1em;
    

    & .fecha{
        font-size: 1.2em;
        margin-left: 1.5em;
    }

    & .botones{
        margin-right: 1.5em;
    
    }
}


/* mostrar y ocultar */

.ocultar{
    display: none;
    opacity: 0;
    transition: .5s;
}
